:global(html),
:global(body) {
  overflow-x: clip;
  max-width: 100vw;
}

.main {
  padding-left: var(--responsive-space-l);
  padding-right: var(--responsive-space-l);
}

@media (--s) {
  .main {
    padding-left: var(--static-space-20);
    padding-right: var(--static-space-20);
  }
}
